h1 {
  font-family: $montserrat;
  font-weight: $bold;
  font-size: $normal;
  color: $black;
}

h2 {
  font-family: $montserrat;
  font-weight: $semi-bold;
  font-size: $large;
  color: $black;
}

h3 {
  font-family: $montserrat;
  font-weight: 300;
  font-size: $normal;
  color: $white;
}

h4 {
  font-family: $montserrat;
  font-weight: $semi-bold;
  font-size: $normal;
  color: $black;
}

h5 {
  font-family: $montserrat;
  font-weight: $semi-bold;
  color: $black;
}

p {
  font-family: $montserrat;
  font-weight: $regular;
  font-size: $normal;
  color: $dimgray;
}
