
//Font Family
$montserrat: 'Montserrat', sans-serif;

// Paleta Colores
$white: #ffffff;
$powderblue: #add8e6;
$tomato: #ff6347;

$black: #000000;
$dimgray: #696969;
$silver: #C0C0C0;

//Font Weight
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

//Font Sizes
$x-large: 40px;
$large: 20px;
$normal: 16px;
$small: 12px
